@font-face {
  font-family: 'Bayshore';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Bayshore.ttf') format('truetype');
}

@font-face {
  font-family: 'Museo Cyrl';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Museo-Cyrl-100.otf') format('opentype');
}

@font-face {
  font-family: 'Museo Cyrl';
  src: url('fonts/Museo-Cyrl-100-Italic.otf') format('opentype');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('fonts/Montserrat-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

body {
  background: linear-gradient(105deg, rgba(62,62,62,1) 0%, rgba(12,12,12,1) 70%);
  color: white;
  margin: 0;
  overflow: hidden;
  position: fixed;
  width: 100vw;
}

a {
  color: white;
  text-decoration: none;
}

.curtains {
  background: linear-gradient(105deg, rgba(62,62,62,1) 0%, rgba(12,12,12,1) 70%);
  display: flex;
  height: 100vh;
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 0;
}

.curtain {
  background: white;
  height: 100vh;
  opacity: 0.3;
  transition: height 0s linear 1s, width 1s ease-out;
  width: 46vw;
}

.curtain--closed {
  height: 0;
  width: 0;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh !important;
  overflow: hidden;
  position: relative;
}

nav {
  align-items: center;
  display: flex;
  margin-bottom: 6vw;
  padding: 3vw 3vw 1.4vw 8vw;
}

nav a {
  font-family: Museo Cyrl, serif;
  font-size: 1vw;
  font-style: italic;
  margin-left: -1.55vw;
  margin-right: 4.5vw;
  margin-top: -.7vw;
  position: relative;
  z-index: 1;
}

a:not(.logo)::before {
  background: #E6A116;
  bottom: -.5vw;
  content: "";
  height: 0.16vw;
  left: 0;
  position: absolute;
  right: 100%;
  transition: right .3s ease-out;
  z-index: -1;
}

a:hover::before {
  right: 0;
}

.logo {
  margin-right: 8vw;
}

.logo:hover svg text {
  fill: #E6A116;
  transition: all .1s linear;
}

.logo--hover {
  left: 0;
  opacity: 0;
  position: absolute;
  transition: opacity .3s linear;
}

.header {
  margin-left: 4.5vw;
}

.header__title {
  height: 18vw;
  position: relative;
}

.header__image {
  opacity: 0;
  position: absolute;
  top: 300px;
  transition: top 1s linear, opacity .5s linear;
}

.header__image.show {
  height: 18vw;
  opacity: 1;
  top: 0;
  width: 31vw;
}

.header__leaf {
  left: 525px;
  opacity: 0;
  position: absolute;
  top: -30px;
  transition: opacity .5s linear 1s, top .5s linear 1s, z-index 0s linear 1.4s;
  z-index: 0;
}

.header__leaf.show {
  height: 10vw;
  left: 26vw;
  opacity: 1;
  top: -4.8vw;
  width: 7.5vw;
  z-index: 1;
}

.header__text-container {
  height: 7vw;
  margin-left: 14.5vw;
  position: relative;
  top: -3.6vw;
}

.header__text {
  font-family: Museo Cyrl, serif;
  font-size: 1vw;
  font-style: italic;
  line-height: 1.9vw;
  opacity: 0;
  position: relative;
  top: 170px;
  transition: opacity .2s linear 1.5s, top .5s linear 1.5s;
  width: 31vw;
  z-index: 2;
}

.header__text.show {
  opacity: 1;
  top: 0;
}

.button__place {
  position: relative;
}

.header__button {
  background: transparent;
  border: 3px solid #daa63b00;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  font-family: Montserrat-Regular, serif;
  font-size: 1.05vw;
  margin-left: 8.7vw;
  overflow: hidden;
  padding: 1.7vw 6vw 1.8vw 3.4vw;
  position: relative;
  transition: border .8s linear 2.3s;
  z-index: 2;
}

.header__button.show {
  border: 0.2vw solid #daa63b;
}

.header__button::before {
  background: #E6A116;
  border-radius: 50px;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
  z-index: -1;
}

.header__button:hover::before {
  transform: scaleX(1);
}

.button__meat {
  height: 9.2vw;
  left: 25vw;
  position: absolute;
  top: -2.5vw;
  width: 6vw;
  z-index: 2;
}

.social {
  font-size: 1.02vw;
  margin-bottom: 3vh;
  margin-left: 7.4vw;
  margin-top: auto;
}

.social a {
  font-family: Museo Cyrl, serif;
  font-style: italic;
  margin-right: 2.5vw;
  position: relative;
}

.social a:hover {
  color: #E6A116;
}

.social__hr {
  border: 1px solid #8f8f8f;
  display: inline-block;
  margin: 0 0 0.3vw 4vw;
  width: 13.4vw;
}

.pepper {
  opacity: 0;
  position: absolute;
  right: 525px;
  top: 190px;
  transition: opacity .5s linear 1.8s, right .5s linear 1.8s;
}

.pepper.show {
  opacity: 1;
  right: 32.2vw;
  top: 9.5vw;
}

.pepper.show img{
  height: 37vw;
  width: 25vw;
}

.food {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 1230px;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  right: -1000px;
  top: -95px;
  transition: right .5s linear, transform 2s ease-in-out;
  width: 100%;
}

.food.show {
  height: 66vw;
  right: -20.7vw;
  transform: rotate(170deg);
  width: 64vw;
}

.food.show img {
  height: 111vw;
  width: 108vw;
}

.food:hover {
  transform: rotate(360deg);
}


@media (max-width: 1440px) {
  nav {
    margin-bottom: 3vw;
  }
}

@media (width: 1440px) and (height: 900px) {
  nav {
    margin-bottom: 9vw;
  }

  .food.show {
    height: 76vw;
    right: -24.7vw;
    transform: rotate(170deg);
    width: 69vw;
  }

  .food:hover {
    transform: rotate(360deg);
  }
}
